# Equity

1.	全球市场（即market return）：MSCI All Country World Index (ACWI) 反映全球市场(sample1里面是MSCI World Index 只有23个developed )，覆盖 49个developed+developing国家。
2.	不同国家的equity数据：MSCI Country Indices

假期数据问题：

如果某月的最后一个交易日是节假日，重新采样会选择最近的交易日。
缺失数据处理：

可能某些资产存在缺失值，使用 dropna() 清理数据，或者用 fillna() 填充。
更改时间间隔：

M 表示月度数据，Q 表示季度数据。
如果需要更细或更宽的间隔，可以替换为 W (周)、A (年度) 等。

In [1]:
import yfinance as yf
import pandas as pd

# 定义目标 ETF 或指数
ticker = "ACWI"  # MSCI All Country World Index 的 ETF
start_date = "2014-01-01"
end_date = "2024-10-31"

# 下载每日数据
Equity_ACWI = yf.download(ticker, start=start_date, end=end_date)
Equity_ACWI=Equity_ACWI['Adj Close']
print(Equity_ACWI)

[*********************100%***********************]  1 of 1 completed

Date
2014-01-02     45.872349
2014-01-03     45.848129
2014-01-06     45.702755
2014-01-07     45.945042
2014-01-08     45.928894
                 ...
2024-10-24    119.029999
2024-10-25    118.820000
2024-10-28    119.440002
2024-10-29    119.370003
2024-10-30    118.839996
Name: Adj Close, Length: 2726, dtype: float64

In [2]:
#Market的日回报率
Equity_dreturns_ACWI = Equity_ACWI.pct_change().dropna()

# 按月重新采样
Equity_monthly_ACWI = Equity_ACWI.resample('M').last()  # 获取每月最后一个交易日的收盘价

# 按季度重新采样
Equity_quarterly_ACWI = Equity_ACWI.resample('Q').last()  # 获取每季度最后一个交易日的收盘价

# 计算月度回报率
Equity_mreturns_ACWI = Equity_monthly_ACWI.pct_change().dropna()  # 按月的百分比变化

# 计算季度回报率
Equity_qreturns_ACWI = Equity_quarterly_ACWI.pct_change().dropna()  # 按季度的百分比变化

In [3]:
# 定义国家和对应的 MSCI ETF
Equity_assets = {
    "USA": "EUSA",
    "Canada": "EWC",
    "Germany": "EWG",
    "Japan": "EWJ",
    "UK": "EWU",
    "France": "EWQ",
    "Italy": "EWI",
    "Australia": "EWA",
    "China": "MCHI",
    "India": "INDA",
    "Brazil": "EWZ",
    "South Africa": "EZA",
    "Mexico": "EWW",
    "Thailand": "THD",
    "South Korea": "EWY",
    "Indonesia": "EIDO"
}

# 定义时间范围
start_date = "2014-01-01"
end_date = "2024-10-31"

# 抓取数据
Equity_countries = {}
for country, ticker in Equity_assets.items():
    print(f"Fetching data for {country} ({ticker})...")
    data = yf.download(ticker, start=start_date, end=end_date)["Adj Close"]
    Equity_countries[country] = data

# 合并所有国家的数据到一个 DataFrame
df = pd.DataFrame(Equity_countries)
print("Combined Data:")
print(df.head())

Fetching data for USA (EUSA)...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Fetching data for Canada (EWC)...
Fetching data for Germany (EWG)...

[*********************100%***********************]  1 of 1 completed

Fetching data for Japan (EWJ)...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Fetching data for UK (EWU)...

Fetching data for France (EWQ)...

[*********************100%***********************]  1 of 1 completed

Fetching data for Italy (EWI)...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Fetching data for Australia (EWA)...

[*********************100%***********************]  1 of 1 completed

Fetching data for China (MCHI)...
Fetching data for India (INDA)...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Fetching data for Brazil (EWZ)...

[*********************100%***********************]  1 of 1 completed

Fetching data for South Africa (EZA)...

[*********************100%***********************]  1 of 1 completed

Fetching data for Mexico (EWW)...

[*********************100%***********************]  1 of 1 completed

Fetching data for Thailand (THD)...
Fetching data for South Korea (EWY)...

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Fetching data for Indonesia (EIDO)...
Combined Data:
                  USA     Canada    Germany      Japan         UK     France  \
Date
2014-01-02  32.727180  23.149372  23.626766  40.445053  26.655300  20.915257
2014-01-03  32.760426  23.133396  23.549932  40.682171  26.668224  20.824879
2014-01-06  32.652348  22.981514  23.665184  40.546677  26.603596  20.809814
2014-01-07  32.835262  22.893585  23.749699  40.716053  26.707008  20.960445
2014-01-08  32.818638  22.877600  23.680553  40.783787  26.655300  20.907721

                Italy  Australia      China      India     Brazil  \
Date
2014-01-02  21.963024  15.227155  38.625957  20.793066  26.833473
2014-01-03  22.034662  15.378292  38.254559  21.242596  26.982580
2014-01-06  22.235239  15.327907  37.676815  21.136822  26.665722
2014-01-07  22.536098  15.302721  37.693321  21.083941  26.665722
2014-01-08  22.364180  15.208261  38.089481  21.145638  26.410995

            South Africa     Mexico   Thailand  South Korea  Indonesia
Date
2014-01-02     40.475368  52.736794  47.156300    51.557842  17.993309
2014-01-03     40.377441  52.712845  46.816570    51.239990  17.847416
2014-01-06     40.201180  52.146572  47.178959    50.830147  17.636681
2014-01-07     40.521065  52.728806  48.704029    51.022522  17.571842
2014-01-08     39.848652  51.987061  48.741772    50.796684  17.693417

In [4]:
#Countries的日收益率
Equity_dreturns_countries=df.pct_change().dropna()
print("Daily Returns:")
print(Equity_dreturns_countries.head())

# 按月重新采样，取每月最后一个交易日的收盘价
Equity_monthly_countries = df.resample('M').last()
# 计算月度收益率
Equity_mreturns_countries = Equity_monthly_countries.pct_change().dropna()
print("Monthly Returns:")
print(Equity_mreturns_countries.head())

# 按季度重新采样，取每季度最后一个交易日的收盘价
Equity_quarterly_countries = df.resample('Q').last()
# 计算季度收益率
Equity_qreturns_countries =Equity_quarterly_countries.pct_change().dropna()
print("Quarterly Returns:")
print(Equity_qreturns_countries.head())

Daily Returns:
                 USA    Canada   Germany     Japan        UK    France  \
Date
2014-01-03  0.001016 -0.000690 -0.003252  0.005863  0.000485 -0.004321
2014-01-06 -0.003299 -0.006565  0.004894 -0.003331 -0.002423 -0.000723
2014-01-07  0.005602 -0.003826  0.003571  0.004177  0.003887  0.007238
2014-01-08 -0.000506 -0.000698 -0.002911  0.001664 -0.001936 -0.002515
2014-01-09  0.000000 -0.002795 -0.002271 -0.003322 -0.001455 -0.002881

               Italy  Australia     China     India    Brazil  South Africa  \
Date
2014-01-03  0.003262   0.009926 -0.009615  0.021619  0.005557     -0.002419
2014-01-06  0.009103  -0.003276 -0.015103 -0.004979 -0.011743     -0.004365
2014-01-07  0.013531  -0.001643  0.000438 -0.002502  0.000000      0.007957
2014-01-08 -0.007629  -0.006173  0.010510  0.002926 -0.009553     -0.016594
2014-01-09  0.009609  -0.001656 -0.013651 -0.001667 -0.012468     -0.009830

              Mexico  Thailand  South Korea  Indonesia
Date
2014-01-03 -0.000454 -0.007204    -0.006165  -0.008108
2014-01-06 -0.010743  0.007741    -0.007999  -0.011808
2014-01-07  0.011165  0.032325     0.003785  -0.003676
2014-01-08 -0.014067  0.000775    -0.004426   0.006919
2014-01-09  0.004449 -0.001704    -0.003458   0.002290
Monthly Returns:
                 USA    Canada   Germany     Japan        UK    France  \
Date
2014-02-28  0.047111  0.044755  0.063024  0.024714  0.067805  0.080729
2014-03-31  0.005154  0.012680 -0.011353 -0.024118 -0.031515  0.005164
2014-04-30  0.003723  0.033503  0.010526 -0.022065  0.045168  0.028767
2014-05-31  0.023739  0.005239  0.014520  0.045126  0.009758  0.005326
2014-06-30  0.023424  0.056999 -0.007137  0.046824  0.008069 -0.014606

               Italy  Australia     China     India    Brazil  South Africa  \
Date
2014-02-28  0.068211   0.082899  0.030972  0.038083  0.044852      0.077123
2014-03-31  0.066867   0.036874 -0.006185  0.089448  0.098537      0.065326
2014-04-30  0.018633   0.022420 -0.025561 -0.001892  0.044405      0.012838
2014-05-31 -0.019956   0.004159  0.046077  0.079226 -0.011692      0.008798
2014-06-30 -0.003153  -0.001300  0.027294  0.047302  0.048236      0.024896

              Mexico  Thailand  South Korea  Indonesia
Date
2014-02-28 -0.040865  0.054348     0.034553   0.101724
2014-03-31  0.060179  0.055612     0.007040   0.081377
2014-04-30 -0.001094  0.047043     0.016908   0.001447
2014-05-31  0.036631 -0.034945     0.033253  -0.009755
2014-06-30  0.027347  0.068905     0.006034  -0.027033
Quarterly Returns:
                 USA    Canada   Germany     Japan        UK    France  \
Date
2014-06-30  0.051619  0.098135  0.017883  0.069922  0.063882  0.019140
2014-09-30  0.010368 -0.047190 -0.114450 -0.022425 -0.071839 -0.089194
2014-12-31  0.052854 -0.046301 -0.010469 -0.039343 -0.051063 -0.063158
2015-03-31  0.008898 -0.058212  0.088654  0.114769 -0.001109  0.053956
2015-06-30  0.003767 -0.011218 -0.049412  0.027539  0.031800  0.007157

               Italy  Australia     China     India    Brazil  South Africa  \
Date
2014-06-30 -0.004842   0.025337  0.047160  0.128138  0.081983      0.047186
2014-09-30 -0.097238  -0.083812  0.021781  0.018157 -0.090624     -0.066511
2014-12-31 -0.127103  -0.043763  0.070234 -0.006976 -0.147810      0.024343
2015-03-31  0.088235   0.031123  0.085009  0.068113 -0.142193      0.033940
2015-06-30  0.023980  -0.057860  0.038760 -0.050106  0.063837     -0.015064

              Mexico  Thailand  South Korea  Indonesia
Date
2014-06-30  0.063814  0.080079     0.057064  -0.035129
2014-09-30  0.013568  0.085740    -0.069363   0.031843
2014-12-31 -0.127898 -0.069469    -0.075366   0.011147
2015-03-31 -0.024078  0.024658     0.035269   0.011298
2015-06-30 -0.007645 -0.042626    -0.037212  -0.154177

# Bond(Fixed Income)

1.	找 Y 和D
2.	MSCI World Sovereign Index (WSI) developed
3.	MSCI Emerging Markets Sovereign (EMS) emerging

In [5]:
# Define ETFs that track MSCI indices or related sovereign bond indices
etfs = {
    "IGOV": "iShares Global Government Bond ETF",
    "EMLC": "VanEck Emerging Markets Local Currency Bond ETF"
}

# Fetch historical data
Bond_data = {}
for ticker, name in etfs.items():
    print(f"Fetching data for {name} ({ticker})...")
    etf = yf.Ticker(ticker)
    etf_data = etf.history(period="10y")  # Last 10 years of data
    Bond_data[ticker] = etf_data["Close"]

# Combine into a DataFrame
Bond_df = pd.DataFrame(Bond_data)

# Save data to CSV
Bond_df.to_csv("msci_etf_data.csv")

Fetching data for iShares Global Government Bond ETF (IGOV)...
Fetching data for VanEck Emerging Markets Local Currency Bond ETF (EMLC)...

* Risk free interst rate = US 6-month treasury bond yield(YTM)

Since the data points for regression is monthly data, the rf should be transformed to monthly rate.Beacause our portfolio is denominated in USD /our analysis is conducted from a USD-based perspective, we choose US 6-month treasury bond yield to be the Risk free interst rate.
Global Perspective: We are treating the US risk-free rate as the "base" or global benchmark.
Simplicity: It simplifies calculations and makes cross-country comparisons easier.

In [6]:
rf_annual=0.0445 #according to bloomberg
rf_monthly = (1 + rf_annual) ** (1/12) - 1

# Regression to calculate Beta

In [7]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

Equity_mreturns_excess_ACWI=Equity_mreturns_ACWI-rf_monthly
Equity_mreturns_excess_countries=Equity_mreturns_countries-rf_monthly
Equity_mreturns_excess_ACWI =Equity_mreturns_excess_ACWI.to_frame(name="Market")

print(Equity_mreturns_excess_ACWI)
print(Equity_mreturns_excess_countries)

              Market
Date
2014-02-28  0.048413
2014-03-31  0.002074
2014-04-30  0.008233
2014-05-31  0.016423
2014-06-30  0.014547
...              ...
2024-06-30  0.016743
2024-07-31  0.011757
2024-08-31  0.021337
2024-09-30  0.018335
2024-10-31 -0.009574

[129 rows x 1 columns]
                 USA    Canada   Germany     Japan        UK    France  \
Date
2014-02-28  0.043476  0.041120  0.059389  0.021079  0.064171  0.077094
2014-03-31  0.001519  0.009045 -0.014988 -0.027752 -0.035149  0.001529
2014-04-30  0.000088  0.029868  0.006892 -0.025700  0.041533  0.025132
2014-05-31  0.020104  0.001604  0.010885  0.041491  0.006123  0.001691
2014-06-30  0.019789  0.053365 -0.010772  0.043189  0.004434 -0.018241
...              ...       ...       ...       ...       ...       ...
2024-06-30 -0.004831 -0.025115 -0.025229 -0.006902 -0.024721 -0.076918
2024-07-31  0.037045  0.045705  0.012368  0.036371  0.035929  0.015688
2024-08-31  0.021191  0.036704  0.045224  0.010456  0.031390  0.031940
2024-09-30  0.017990  0.021804  0.033448 -0.009609 -0.006832  0.009404
2024-10-31 -0.003426 -0.010619 -0.042346 -0.047247 -0.044800 -0.056358

               Italy  Australia     China     India    Brazil  South Africa  \
Date
2014-02-28  0.064576   0.079264  0.027337  0.034448  0.041217      0.073488
2014-03-31  0.063233   0.033239 -0.009820  0.085813  0.094902      0.061691
2014-04-30  0.014999   0.018785 -0.029196 -0.005527  0.040770      0.009203
2014-05-31 -0.023590   0.000524  0.042442  0.075592 -0.015327      0.005163
2014-06-30 -0.006788  -0.004935  0.023660  0.043667  0.044601      0.021261
...              ...        ...       ...       ...       ...           ...
2024-06-30 -0.057987   0.006568 -0.037088  0.048620 -0.049854      0.080529
2024-07-31  0.032349   0.020516 -0.019049  0.025766  0.012465      0.046919
2024-08-31  0.042407   0.030338  0.003832  0.001590  0.071986      0.028226
2024-09-30 -0.000803   0.044297  0.213434  0.010398 -0.016357      0.069619
2024-10-31 -0.025195  -0.060072 -0.032116 -0.064117 -0.048057     -0.017921

              Mexico  Thailand  South Korea  Indonesia
Date
2014-02-28 -0.044500  0.050713     0.030918   0.098089
2014-03-31  0.056544  0.051977     0.003405   0.077742
2014-04-30 -0.004729  0.043408     0.013273  -0.002187
2014-05-31  0.032996 -0.038580     0.029619  -0.013389
2014-06-30  0.023712  0.065270     0.002400  -0.030668
...              ...       ...          ...        ...
2024-06-30 -0.124132 -0.041323     0.059247   0.005318
2024-07-31 -0.005225  0.048706     0.003326   0.041513
2024-08-31 -0.065206  0.074299    -0.019412   0.077299
2024-09-30  0.008997  0.121954    -0.027146   0.029898
2024-10-31 -0.044223 -0.061227    -0.053041  -0.045857

[129 rows x 16 columns]

In [8]:
# Assuming Equity_mreturns_excess_countries and Equity_mreturns_excess_ACWI are your DataFrames
countries = Equity_mreturns_excess_countries.columns
market = Equity_mreturns_excess_ACWI["Market"]  # The market column
time_horizons = [12, 36, 60]  # 1-year, 3-year, 5-year in months

def calculate_beta(country_returns, market_returns, window):
    betas = []
    for i in range(len(country_returns) - window + 1):
        # Get the rolling window data
        country_window = country_returns.iloc[i:i+window]
        market_window = market_returns.iloc[i:i+window]

        # Add constant for regression
        X = sm.add_constant(market_window)
        y = country_window

        # Perform OLS regression
        model = sm.OLS(y, X).fit()
        betas.append(model.params["Market"])  # Extract beta (slope coefficient)
    return betas

results = {}

for country in countries:
    results[country] = {}
    for horizon in time_horizons:
        # Call the regression function for each country and time horizon
        country_returns = Equity_mreturns_excess_countries[country]
        results[country][f"{horizon}-month beta"] = calculate_beta(country_returns, market, horizon)

# Convert results to a DataFrame for easier viewing
betas_df = pd.DataFrame(results)

D:\progr\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [9]:
# Assuming 'results' contains the dictionary structure from your calculation
final_betas = {}

for country, beta_data in results.items():
    final_betas[country] = {
        "12-month beta": beta_data["12-month beta"][-1],  # Last value of 12-month beta
        "36-month beta": beta_data["36-month beta"][-1],  # Last value of 36-month beta
        "60-month beta": beta_data["60-month beta"][-1],  # Last value of 60-month beta
    }

# Convert to DataFrame for better visualization
import pandas as pd
final_betas_df = pd.DataFrame(final_betas).T  # Transpose for country rows
print(final_betas_df)
final_betas_df.to_csv("beta_equity.csv")

              12-month beta  36-month beta  60-month beta
USA                1.161508       1.071166       1.137475
Canada             1.049415       1.009507       1.107611
Germany            1.445932       1.288873       1.272579
Japan              0.947590       0.897855       0.751798
UK                 0.646812       0.805349       0.936962
France             1.181361       1.136598       1.182205
Italy              1.227586       1.200509       1.255265
Australia          1.349749       1.200888       1.237875
China              0.256419       0.673519       0.576871
India              0.574798       0.563871       0.824691
Brazil             1.387060       0.893345       1.307430
South Africa       0.465320       1.066752       1.203634
Mexico             1.609972       1.048781       1.189219
Thailand           0.548254       0.636495       0.950401
South Korea        1.814165       1.412556       1.263061
Indonesia          0.987657       0.432513       0.948425

# Currency
calculate the st,t+k ,the return of currency from time t to t+k (k=1,3,5Year)

In [10]:
file_path = "D:/UMich/612+614/614/WEOOct2024all.xlsx"  # Update this with the actual file path
sheet_name = "WEOOct2024all"  # Update if necessary

# Load the Excel data
df_FX = pd.read_excel(file_path, sheet_name=sheet_name)
# Step 2: Separate US inflation rates (domestic) and remove the US row
us_inflation = df_FX[df_FX['Country'] == "United States"].iloc[0, 1:].to_dict()
other_inflation= df_FX[df_FX['Country'] != "United States"]

# Step 3: Function to calculate currency return
def calculate_fx_return(row, years, us_inflation):
    domestic_compound = 1
    foreign_compound = 1
    for year in years:
        domestic_compound *= (1 + us_inflation[year] / 100)
        foreign_compound *= (1 + row[year] / 100)
    return (domestic_compound / foreign_compound - 1) * 100

horizons = {
    "1-year": [2025],
    "3-year": [2025, 2026, 2027],
    "5-year": [2025, 2026, 2027, 2028, 2029]
}

# Calculate FX returns for each horizon
for horizon, years in horizons.items():
    df_FX[f"{horizon}_FX_Return"] = other_inflation.apply(lambda row: calculate_fx_return(row, years, us_inflation), axis=1)

df_FX.to_csv("return_currency_compounded.csv")

df_FX

,Country,2023,2024,2025,2026,2027,2028,2029,1-year_FX_Return,3-year_FX_Return,5-year_FX_Return
0,Australia,5.616,3.315,3.270,2.953,2.544,2.467,2.473,-1.373100,-2.654775,-3.294014
1,Brazil,4.594,4.272,3.586,3.135,2.979,2.965,2.968,-1.673971,-3.532220,-5.087687
2,Canada,3.879,2.439,1.874,2.024,2.002,1.998,2.015,-0.021595,0.106828,0.355270
3,China,0.228,0.422,1.660,2.012,1.959,2.024,2.005,0.188865,0.371671,0.604990
4,France,5.662,2.313,1.640,1.769,1.752,1.810,1.764,0.208579,0.835852,1.522555
5,Germany,6.030,2.374,2.028,1.953,1.952,1.952,1.980,-0.172502,0.074392,0.402465
6,India,5.361,4.374,4.097,4.092,4.000,4.000,4.000,-2.156642,-5.822060,-9.173061
7,Indonesia,3.713,2.484,2.509,2.529,2.523,2.521,2.521,-0.640919,-1.506387,-2.250494
8,Japan,3.269,2.233,1.988,1.968,2.001,2.018,2.016,-0.133349,0.050828,0.278485
9,Korea,3.597,2.520,2.000,2.000,2.000,2.000,2.000,-0.145098,0.008653,0.269629
10,Mexico,5.525,4.676,3.793,3.016,3.007,3.002,3.001,-1.870068,-3.639598,-5.257753
11,South Africa,5.900,4.703,4.472,4.500,4.500,4.500,4.500,-2.507849,-6.973731,-11.140228
12,Taiwan Province of China,2.492,2.088,1.719,1.623,1.585,1.613,1.465,0.130752,1.068173,2.254176
13,Thailand,1.228,0.535,1.224,1.500,2.000,2.000,2.000,0.620406,1.271766,1.536038
14,United Kingdom,7.305,2.624,2.074,2.000,2.000,2.000,2.000,-0.217489,-0.063850,0.196937
15,United States,4.128,2.987,1.852,2.052,2.105,2.123,2.143,NaN,NaN,NaN